* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    text-align: center;
    background: white;
    padding: 15px;
    margin-bottom: 50px;
}

header img {
    width: 200px;
}

.app {
    position: relative;
    display: flex;
    justify-content: center;
}

.container {
    position: absolute;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    border-radius: 1em;
    
    
}

.team {
    margin: 10px;
    background: rgba(255, 255, 255, 0.7);
    width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 2em;
}

.team:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.team img {
    width: 200px;
    height: 200px;
}

.players {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    padding: 5em;
    border-radius: 1em;
    
}

.player {
    background: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}